<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzpnBuNGUaaR1-rTjmi95ez-By4E94xRc</string>
	<key>GCM_SENDER_ID</key>
	<string>672645553095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sistemasderesenas</string>
	<key>PROJECT_ID</key>
	<string>ejemplo1-88f97</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo1-88f97.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672645553095:ios:5721b841d789b38eda97e2</string>
</dict>
</plist>